* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* for responsive layout */
.home-div {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    background-color: #f5f7ff;
}

.sidebar {
    grid-area: sidebar;
    background-color: #ffffff;
    padding: 20px 10px;
    text-align: center;
}

.sidebar h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

.sidebar p {
    font-size: 9px;
}

span:hover {
    color: blue;
    cursor: pointer;
    transition: all 0.3ms;
}

.bulletin:hover .icon,
.Post-template:hover .icon,
.Reply-template:hover .icon,
.Price-list:hover .icon,
.Quotation:hover .icon {
    transform: rotateY(360deg);
    transition: transform 0.6s ease-in-out;
    color: blue;
}

.header {
    grid-area: header;
    background-color: #f8f9fa;
}

.content {
    grid-area: content;
    z-index: 1;
    padding: 15px;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

/* Drop Down Menu Logout */
.profileBtn:active {
    outline: none;
    border: none;
}